<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <script type = "text/javascript" src = "/static/task.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/static/task.css">
</head>
<body>
    <div id = "taskHeader", class = "header">
        <h2>To Do List</h2>
        <input type="text" id="myInput" placeholder="Enter Your Task">
        <span onclick="newElement()" class="addBtn">Add</span>
        <span onclick = "deleteElement()" class = "deleteBtn">Delete</span>
        <span onclick="logoutModal()" class = "logout" >Logout</span>
      </div>
      
      <ul id="tasks">
        {{range .DTO_Response}}
        <li id = {{.ID}} onclick = "selectedElement(this.id)">{{ .TaskName }}</li>
        {{end}}
      </ul>

      <div id = "modal-logout" class = "modal">
        <div class = "modalText">
        <b> Are you sure you want to logout?</b>
        </div>
        
        <button id="logout-yes" onclick="modalYes()" class = "modalButton"><b>Yes</b></button>
        <button id = "logout-no" onclick="modalNo()" class = "modalButton"><b>No</b></button>
    </div>
</body>
</html>